<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
    <title>Données YouTube et Twitch</title>
</head>
<body>
    <h1>Données YouTube et Twitch</h1>
    <form method="POST">
      <input type="text" name="query" placeholder="Enter your search query" required>
      <br><br>
        <label><input type="checkbox" name="field" value="Jeu"> Jeu</label>
        <label><input type="checkbox" name="field" value="Titre"> Titre</label>
        <label><input type="checkbox" name="field" value="Chaîne"> Chaîne</label>
        <label><input type="checkbox" name="field" value="Nombre de vues"> Nombre de vues</label>
        <label><input type="checkbox" name="field" value="Date de la mise en ligne"> Date de la mise en ligne</label>
        <br><br>
        <input type="submit" name="submit" value="Search">
    </form>
    <table>
        <thead>
            <tr>
                <th>Jeu</th>
                <th>Titre</th>
                <th>Chaîne</th>
                <th>Nombre de vues</th>
                <th>Date de la mise en ligne</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in data %}
            <tr>
                <td>{{ doc['Jeu'] }}</td>
                <td>{{ doc['Titre'] }}</td>
                <td>{{ doc['Chaîne'] }}</td>
                <td>{{ doc['Nombre de vues'] }}</td>
                <td>{{ doc['Date de la mise en ligne'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
