<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
    <title>Données YouTube et Twitch</title>
</head>
<body>
    <h1>Données YouTube et Twitch</h1>

    <input type="text" name="query" placeholder="Enter your search query" required></input>
    <br><br>
    <label><input type="checkbox" name="field" value="Jeu"> Jeu</label>
    <label><input type="checkbox" name="field" value="Titre"> Titre</label>
    <label><input type="checkbox" name="field" value="Chaîne"> Chaîne</label>
    <label><input type="checkbox" name="field" value="Nombre de vues"> Nombre de vues</label>
    <label><input type="checkbox" name="field" value="Date de la mise en ligne"> Date de la mise en ligne</label>
    <br><br>
    <button name="submit" value="Chercher" onclick="filtrage_mots()">Chercher</button>
    <!-- <button type="submit" name="sort" value="asc" onclick="tri_ascendant()">Les moins vues</button>
    <button type="submit" name="sort" value="desc" onclick="tri_descendant()">Les plus vues</button> -->


    <label for="selection" value="jeu">Sélectionnez un jeu :</label>
    <select id="choix" name="choix_jeu" onchange="change(this.value)">
        {% set jeu= data|map(attribute='Jeu')|unique|list %}
        {% for i in range(jeu|length) %}
            <option value="{{jeu[i]}}">{{jeu[i]}}</option>
        {% endfor %}
    </select>

    <table>
        <thead>
            <tr>
                <th>Jeu</th>
                <th>Titre</th>
                <th>Chaîne</th>
                <th>Nombre de vues</th>
                <th>Date de la mise en ligne</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in data %}
            <tr>
                <td>{{ doc['Jeu'] }}</td>
                <td>{{ doc['Titre'] }}</td>
                <td>{{ doc['Chaîne'] }}</td>
                <td>{{ doc['Nombre de vues'] }}</td>
                <td>{{ doc['Date de la mise en ligne'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>

<script>

    function change(value){
        document.location= "/recherche?jeu="+value
    }

    function filtrage_mots(){
        var query= document.getElementsByName("query")[0].value;
        var fields= document.getElementsByName("field");
        var checklist= ""
        fields.forEach(field=> {
            if(field.checked){
                if(checklist.length > 0){
                    checklist += "|";
                }
                checklist+= field.value;
            }
        })
        document.location= "/filtrage_mots?fields="+checklist+"&query="+query
        
        // function tri_ascendant(){
        //     document.location= "/tri=asc"
        // }

        // function tri_descendant(){
        //     document.location= "/tri=desc"
        // }
    }

</script>