<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
    <title>Données YouTube et Twitch</title>
</head>
<body>
    <h1>Données YouTube et Twitch</h1>
    <table>
        <thead>
            <tr>
                <th>Jeu</th>
                <th>Titre</th>
                <th>Chaîne</th>
                <th>Nombre de vues</th>
                <th>Date de la mise en ligne</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in data %}
            <tr>
                <td>{{ doc['Jeu'] }}</td>
                <td>{{ doc['Titre'] }}</td>
                <td>{{ doc['Chaîne'] }}</td>
                <td>{{ doc['Nombre de vues'] }}</td>
                <td>{{ doc['Date de la mise en ligne'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
