<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
    <title>Données YouTube et Twitch</title>
</head>
<body>
    <h1>Données YouTube et Twitch</h1>

    <!-- Création de la barre de recherche -->

    <input type="text" name="query" placeholder="Enter your search query" required></input>

    <!-- Création des de checkboxes -->

    <br><br>
    <label><input type="checkbox" name="field" value="Jeu"> Jeu</label>
    <label><input type="checkbox" name="field" value="Titre"> Titre</label>
    <label><input type="checkbox" name="field" value="Chaîne"> Chaîne</label>
    <label><input type="checkbox" name="field" value="Nombre de vues"> Nombre de vues</label>
    <label><input type="checkbox" name="field" value="Date de la mise en ligne"> Date de la mise en ligne</label>
    <label><input type="checkbox" name="field" value="Tags"> Tags</label>
    <label><input type="checkbox" name="field" value="Lien de la vidéo"> Lien de la vidéo</label>
    <br><br>

    <!-- Bouton permettant une recherche sur les mots -->

    <button name="submit" value="Chercher" onclick="filtrage_mots()">Chercher</button>

    <label for="selection" value="jeu">Sélectionnez un jeu :</label>

    <!-- Liste déroulante permettant de filtrer sur les jeux -->

    <select id="choix" name="choix_jeu" onchange="change_jeu(this.value)">
        {% set jeu= data|map(attribute='Jeu')|unique|list %} <!-- Code Jinja2 permettant de récupérer une liste unique des jeux dans notre base de données Elastic Search -->
        {% for i in range(jeu|length) %}
            <option value="{{jeu[i]}}">{{jeu[i]}}</option>
        {% endfor %}
    </select>

    <!-- Création du tableau contenant les informations de toutes les vidéos de la dataframe -->

    <table>
        <thead>
            <tr>
                <th>Jeu</th>
                <th>Titre</th>
                <th>Chaîne</th>
                <th>Nombre de vues</th>
                <th>Date de la mise en ligne</th>
                <th>Tags</th>
                <th>Lien de la vidéo</th>
            </tr>
        </thead>
        <tbody>

            <!-- Code Jinja2 affichant les informations voulues -->

            {% for doc in data %}
            <tr>
                <td>{{ doc['Jeu'] }}</td>
                <td>{{ doc['Titre'] }}</td>
                <td>{{ doc['Chaîne'] }}</td>
                <td>{{ doc['Nombre de vues'] }}</td>
                <td>{{ doc['Date de la mise en ligne'] }}</td>
                <td>{{ doc['Tags'] }}</td>
                <td><a href="{{ doc['Lien de la vidéo'] }}">{{ doc['Lien de la vidéo'] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

<script>// Code permettant le bon fonctionnement des requêtes et du changement de pages

    function change_jeu(value){
        document.location= "/filtrage_jeu?jeu="+value
    }
    
    function filtrage_mots(){
        var query= document.getElementsByName("query")[0].value;
        var fields= document.getElementsByName("field");
        var checklist= ""
        fields.forEach(field=> {
            if(field.checked){
                if(checklist.length > 0){
                    checklist += "|";
                }
                checklist+= field.value;
            }
        })
        document.location= "/filtrage_mots?fields="+checklist+"&query="+query
    }
    
</script>

</html>