<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>

        <title>GameWave</title>
    </head>
    <body>
        <div class="container">
            <h1>Navigating YouTube Video Game Trends</h1>

            <div class="search-container" id="search-fields">
                <!-- Recherche pour Game -->
                <div id="game-search-container" class="search-group" style="display: none;">
                    <input id="game-search" class="search-box" type="text" placeholder="Search for a game...">
                    <ul id="game-suggestions" class="suggestions"></ul>
                </div>
                
                <!-- Recherche pour Video title -->
                <div id="video-title-search-container" class="search-group" style="display: none;">
                    <input id="video-title-search" class="search-box" type="text" placeholder="Search for a video title...">
                    <ul id="video-title-suggestions" class="suggestions"></ul>
                </div>
                
                <!-- Recherche pour Channel -->
                <div id="channel-search-container" class="search-group" style="display: none;">
                    <input id="channel-search" class="search-box" type="text" placeholder="Search for a channel...">
                    <ul id="channel-suggestions" class="suggestions"></ul>
                </div>
                
                <!-- Datepicker -->
                <div id="date-search-container" class="search-group" style="display: none;">
                    <input type="text" id="datepicker" class="datetimepicker-input" placeholder="Select a date range">
                </div>
                
                <!-- Recherche pour Tags -->
                <div id="tags-search-container" class="search-group" style="display: none;">
                    <input id="tags-search" class="search-box" type="text" placeholder="Search for a tag...">
                    <ul id="tags-suggestions" class="suggestions"></ul>
                </div>
                
                <!-- Bouton unique "Search" -->
                <button id="search-btn" onclick="search()" style="display: none;">Search</button>

                <div id="active-queries">
                    <!-- Les boutons de requêtes actives seront ajoutés ici dynamiquement -->
                </div>
                
            </div>
        
            <!-- Tableau des résultats -->
            <table>
                <thead>
                    <tr>
                        <th class="searchable-column" data-search="game">Game</th>
                        <th class="searchable-column" data-search="video-title">Video title</th>
                        <th class="searchable-column" data-search="channel">Channel</th>
                        <th>
                            Views
                            <button id="sort-asc" onclick="sortTable('asc')">⬆️</button>
                            <button id="sort-desc" onclick="sortTable('desc')">⬇️</button>
                        </th>                        
                        <th class="searchable-column" data-search="date">Date</th>
                        <th class="searchable-column" data-search="tags">Tags</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody id="results-table">
                    {% for doc in data %}
                    <tr>
                        <td>{{ doc['Game'] }}</td>
                        <td>{{ doc['Video title'] }}</td>
                        <td>{{ doc['Channel'] }}</td>
                        <td>{{ doc['Views'] }}</td>
                        <td>{{ doc['Date'] }}</td>
                        <td>
                            {% for tag in doc['Tags'] %}
                                <button class="tag-info" disabled>{{ tag }}</button>
                            {% endfor %}
                        </td>
                        <td><a href="{{ doc['Link'] }}" target="_blank">{{ doc['Link'] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>