<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>GameWave</title>
</head>
<body>
    <div class="container">
        <h1>Navigating YouTube Video Game Trends</h1>

        <input class="search-box">
        <ul class="results"></ul>

        <!-- Tableau des résultats -->
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Video Title</th>
                    <th>Channel</th>
                    <th>Views</th>
                    <th>Date</th>
                    <th>Tags</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in data %}
                <tr>
                    <td>{{ doc['Game'] }}</td>
                    <td>{{ doc['Video title'] }}</td>
                    <td>{{ doc['Channel'] }}</td>
                    <td>{{ doc['Views'] }}</td>
                    <td>{{ doc['Date'] }}</td>
                    <td>{{ doc['Tags'] }}</td>
                    <td><a href="{{ doc['Link'] }}" target="_blank">{{ doc['Link'] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>

<script>

    $(document).ready(function() {
        let debounce;
        $('.search-box').on('keydown', function (e) { 
        clearTimeout(debounce)
        debounce = setTimeout(() => {
                getAutoComplete();  
        }, 300);
        })
    })

    function getAutoComplete() {
            const query = $('.search-box').val();
            
            fetch(`http://localhost:5000/search?q=${encodeURIComponent(query.trim())}`)
                .then((resp) => resp.json())
                .then((data) => {
                        $('.results').empty();
                        for (let i = 0; i < data.length; i++) {
                                $('.results').append(`<li>${data[i]}</li>`)
                        }
                    })
    }
</script>